:root {
  --bg-blue: #effbff;
  --bg-blue2: #fff;
  --bg-green: #ccf7df;
  --bg-orange: #ffd4c3;
}

/* :root {
  --bg-blue: #d7f4ff;
  --bg-blue2: #cfeefa;
  --bg-green: #ccf7df;
  --bg-orange: #ffd4c3;
} */

.navBG {
  background-color: var(--bg-green);
}

.errors {
  color: #bd2d2d;
}

.container {
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.inline-block { display: inline-block; }
.center { margin-left: auto; margin-right: auto; }
.text-center { text-align: center; }
.text-left { text-align: left; }

.allMusicians {
  padding: 6px 12px;
  margin-top: 8px;
  background-color: #ffd4c3;
  border-radius: 2px;
}
.musicians {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.musicians > article {
  flex-basis: 100%;
}
.loaderContainer {
  position: fixed;
  left: 0; top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffffad;
}
.loader {
  text-shadow: 0 0 2px #3a3a3a;
  animation: Loader infinite 4s ease alternate-reverse;
}

/* Media queries */

/* Medium devices (landscape tablets, 720px - 1023px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  .musicians {
    display: inline-flex;
  }
  .musicians > article {
    flex-basis: 50%;
  }
}
/* laptop devices (landscape tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .musicians {
    display: inline-flex;
  }
  .musicians > article {
    flex-basis: 33%;
  }
}

@keyframes Loader {
  0% { color: #4395ff; }
  50% { color: #b22cff; }
  100% { color: #ff2d2d; }
}